{# This is your main template #}

<!DOCTYPE html>
<html lang="!_INSERT_LANG_!">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ projectName }}</title>

  <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
  {% include "header.twig" %}
  {% block content %}
  {% endblock %}
  {% include "footer.twig" %}

  <script src="./static/js/script.js"></script>
</body>
</html>
