.g-header {
  width: 100%;
  height: rem(548px);
  background-image: url(../images/header/g-bg.png);
  background-size: 100% rem(408px);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.g-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: rem(50px);
  border-bottom: rem(1px) solid #fff;
}

.g-header__event-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(20px);
  padding-left: rem(18px);
}

.g-header__logo {
  width: rem(440px);
  height: rem(20px);
  pointer-events: none;

  &_big {
    width: rem(444px);
    height: rem(308px);
    margin-top: rem(92px);
    margin-left: rem(118px);
  }
}

.g-header__text {
  margin-top: rem(5px);
  margin-left: rem(10px);
  color: #fff;
  font-size: rem(25px);
  text-transform: uppercase;
  letter-spacing: rem(-1.13px);
}

.g-header__langs {
  padding-right: rem(32px);
}

.g-header__langs ul {
  display: flex;

  li {
    margin-right: 5px;

    a {
      color: #fff;
      font-size: rem(18px);
      font-weight: 600;
      letter-spacing: rem(-1px);
      transition: color ease 0.2s;
      will-change: color;

      &.active,
      &:hover {
        color: #46abd1;
      }

      span {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 939px) {
  .g-header {
    background-size: 150% rem(388px);
  }

  .g-header__top {
    height: auto;
    min-height: rem(50px);
  }

  .g-header__event-name {
    height: auto;
    min-height: rem(20px);
    padding-left: rem(8px);
  }

  .g-header__langs {
    padding-right: rem(8px);
  }

  .g-header__logo {
    width: rem(328px);
    height: auto;

    &_big {
      width: rem(280px);
      margin-left: rem(32px);
    }
  }

  .g-header__text {
    font-size: rem(18.6px);
    margin-top: rem(3px);
  }
}

@media only screen and ( max-width: 768px ) {
  .g-header__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .g-header__langs {
    padding-left: rem(8px);
    padding-right: 0;
    transform: translateY(#{rem(-6px)});
  }
}

@media only screen and (max-width: 640px) {
  .g-header {
    background-size: 260% 24.25rem;
    background-position: 85% 100%;
  }

  .g-header__event-name {
    flex-direction: column;
    align-items: flex-start;
    padding: rem(8px);
  }

  .g-header__langs {
    padding-left: rem(8px);
    padding-right: 0;
    transform: translateY(#{rem(-7px)});
  }

  .g-header__logo {
    width: 100%;
    height: auto;

    &_big {
      display: block;
      width: rem(280px);
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }
  }

  .g-header__text {
    margin-left: 0;
    margin-top: rem(8px);
  }
}